.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.header .nav-menu a{
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}

.header p{
  margin-right: 2rem;
  font-size: 14px;
  text-transform: uppercase;
}

#header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background: #1a7a3a;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
}

#header .navbar {
  padding: 0;
  justify-content: space-between;
  background: none !important;
}

#header .navbar .nav a{
  margin: 2rem;
}

#header .navbar-brand {
  display: flex;  
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  height: auto;
  padding: 0;
  font-size: 22px;
  line-height: 1.6;
}

#header .navbar-collapse {
  flex-grow: 0;
  padding: 0;
}

#header .navbar-collapse .navbar-nav {
  font-size: 14px;
  line-height: 20px;
}

#header .navbar-collapse .navbar-nav a{
  color: #fff;
  text-transform: uppercase;
}

#header .navbar-collapse a:last-child {
  padding-right: 0;
}


#header .navbar-collapse a {
  color: #4d4d4d;
  position: relative;
}

/*#header .navbar-collapse a:hover,*/
#header .navbar-collapse a.active {
  background: none;
  color: #fff;
}

#header .navbar-collapse a:hover:before,
#header .navbar-collapse a.active:before {
  right: 7px;
  left: 8px;
  opacity: 1;
}

.pesquisar1{
  background-color: #115027;
  color: #fff;
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  padding-left: 18px;
}

.pesquisar2{
  background-color: #115027;
  color: #fff;
  border: none !important;
  border-radius: 30px;
  outline: none !important;
  padding: 5px;
}

.pesquisar2:focus {
  background-color: #115027 !important;
  color: #ffffff !important;
}


@media only screen and (min-width: 1025px) {

  a[href^=tel],
  a[href^=skype],
  a[href^=sms] {
    cursor: default;
    pointer-events: none;
  }
}
